@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.energy {
  background: url("../../assets/Frame-Energy.png");
  background-repeat: no-repeat;
  width: 167px;
  height: 47px;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  align-items: center;
}
.room-content {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.input-id-room {
  border: 2px solid white;
  background-color: #1d1933;
  border-radius: 12px;
  padding: 5px;
  width: 326px;
  height: 36px;
  color: aqua;
  margin-bottom: 20px;
}
.form-join-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
}
.join-room {
  border: 2px solid white;
  background-color: #1d1933;
  border-radius: 12px;
  padding: 5px;
  width: 100px;
  height: 36px;
  color: aqua;
  cursor: pointer;
}
.join-room:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.join-room:hover:enabled {
  background-color: #3a2e59;
  color: #ffffff;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.room {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #196a51;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-run {
  display: flex;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #1d1933;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 40px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  font-size: 14px;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.input-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  height: 100dvh;
}
.create-room {
  border: 1px solid #ffffff;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #1d1933;
  color: aqua;
  font-size: 14px;
  margin-bottom: 20px;
}
.create-room:hover {
  background-color: #3a2e59;
  color: #ffffff;
}
.number-room {
  color: antiquewhite;
  font-size: 14px;
}
.time-active {
  background: url("../../assets/Frame-sprin.png");
  width: 94px;
  height: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
}
.timeLoading {
  background: url("../../assets/Vector-sprin.png");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 86.51px;
  background-repeat: no-repeat;
  position: absolute;
  animation: spin 2s linear infinite, display-change 8s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes display-change {
  0% {
    background: url("../../assets/Vector-sprin.png");
  }
  25% {
    background: url("../../assets/Vector-sprin.png");
  }
  50% {
    background: url("../../assets/Vector-sprin.png");
  }
  75% {
    background: url("../../assets/Vector-sprin.png");
  }
  100% {
  }
}
.click-end-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: absolute;
  top: 40px;
}
.info-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px !important;
}
