.content {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  align-items: center;
}
.list {
  position: absolute;
  top: 60px;
  left: 24px;
  width: 280px;
  height: fit-content;
  background: transparent;
  overflow-y: auto;
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-title {
  position: absolute;
  top: 5px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  width: 111px;
  height: 22px;
}
.popup-content {
  position: relative;
  width: 328px;
  height: 726px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list::-webkit-scrollbar {
  width: 1px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.list::-webkit-scrollbar-track {
  background: #2c2c3c;
}
.list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  height: fit-content;
}

.player-result {
  display: flex;
  justify-content: space-between;
}
